body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffe6e6;
}

h1 {
  color: #ff3366;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6699;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}